
/*Global*/
html{
    background: radial-gradient(ellipse at right bottom, #b3518256 20%, #973697d3, #aa313181 90%);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
/*GENERAL*/
.header{
    padding: 1rem;
    text-align: center;
}
.navegacion{
    background-color: rgba(245, 245, 220, 0.568);
    padding: 2rem 1rem;
}
.navegacion__enlaces{
    display: flex;
    justify-content: space-evenly;
    
}
.navegador__enlaces--hover:hover{
    color: black;
    background-color: white;
    box-shadow: 0rem 0rem 0rem 2rem rgb(255, 255, 255);
}
/*carga_productos.PHP MAIN*/
.mainProd{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.form_prod{
    grid-column: 1/2;
}

.table_prod{
    grid-column: 2/4;
}
.form_prod{
    background-color: rgb(82, 50, 92);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    width: 100%;
    padding: 2rem;
    height: 55rem;
}
.grid_form div{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.id_search{
    margin: 0 2rem;

}

.table_prod{
    background-color: rgb(143, 89, 145);
    margin:0 2rem;
    height: 70rem;
    padding: 1rem;
}
/*SCROLL TABLA*/
.table_prod {
    border-radius: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    padding-left: 1rem;
    height: 55rem; /* Altura deseada */
    overflow-y: auto; /* Habilitar scroll vertical cuando sea necesario */
    position: relative; /* Asegura que los elementos absolutos sean relativos a este contenedor */
}
.thead tr{
    color: black;
    background-color: white; /* Ajusta el color de fondo para que se vea bien */
}

.thead {
    position: sticky; /* Hace que el encabezado se quede fijo */
    top: 0; /* Ancla el encabezado en la parte superior */
    z-index: 1; /* Asegura que el encabezado esté por encima del contenido de la tabla */
}

.table_prod::-webkit-scrollbar {
    width: 1rem;
}

.table_prod::-webkit-scrollbar-thumb {
    background: rgba(139, 60, 150, 0.712);
    border-radius: 1rem;
}

/*FIN SCROLL*/

.contenedor_php--imagen{
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    margin: 1rem;
}

.thead{
    background: transparent;
    backdrop-filter: blur(25rem);
    margin: 1rem;
    height:3rem;
    text-decoration: underline;
}
.thead, th{
    text-align: center;
    width: 25rem;
}

/*productos_index*/
/*pedidos_index*/
/*montos_index*/
/*novedades_index*/
.main_main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.novedades, .sorteos, .importante{
    margin: 1rem;
}
.div_formulario{
    background-color: rgb(82, 50, 92);
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}
.div_formulario h4, form{
    text-align: center;
    padding:0 1rem;
}
.div_formulario input, textarea{
    width: 100%;
}

.flex_table{
    background-color: rgb(143, 89, 145);
}
/*SCROLL TABLES*/
.scroll_tables{
    background-color: rgb(143, 89, 145);
    height: 70rem;
    padding: 1rem;
}
.scroll_tables {
    border-radius: 1rem;
    height: 55rem; /* Altura deseada */
    overflow-y: auto; /* Habilitar scroll vertical cuando sea necesario */
    position: relative; /* Asegura que los elementos absolutos sean relativos a este contenedor */
}
.thead tr{
    color: black;
    background-color: white; /* Ajusta el color de fondo para que se vea bien */
}

.thead {
    position: sticky; /* Hace que el encabezado se quede fijo */
    top: 0; /* Ancla el encabezado en la parte superior */
    z-index: 1; /* Asegura que el encabezado esté por encima del contenido de la tabla */
}

.scroll_tables::-webkit-scrollbar {
    width: 1rem;
}

.scroll_tables::-webkit-scrollbar-thumb {
    background: rgba(139, 60, 150, 0.712);
    border-radius: 1rem;
}
/*BOTONES*/
/*IMPUTS*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
#buscar{

    padding: 0.5rem;
}
.btn_general{
    padding: 0.5rem;
    width: 10rem;
    margin: 0.5rem auto;
    background-color: rgb(215, 116, 214);
    color: var(--blanco);
    border: 0.1rem solid black;
    border-radius: 1rem;
    text-transform: uppercase;
    appearance: none;
    text-align: center;
}

.btn_general-1{
    padding: 0.5rem;
    width: 100%;
    margin: 0.5rem auto;
    background-color: rgb(215, 116, 214);
    color: var(--blanco);
    border: 0.1rem solid black;
    border-radius: 1rem;
    text-transform: uppercase;
    appearance: none;
    text-align: center;
}



